/* ============================================================================================ */
/* MEDIA QUERIES ------------------------------------------------------------------------------ */
/* ============================================================================================ */



/* ============================================================================================ */
/* 1 SIZE LARGER - MONITOR VIEW -------------------------------------------------------------- */
@media screen and (min-width: 1125px) and (max-width: 2000px) {

  /* SCROLL PAGE 1 ----------------------------------- */
  /* GG navigation logo styling */
  #gg-logo{
    font-size: 60px;
    margin-bottom:5%;
  }

  /* main page text logo */
  #text-logo{
    margin-top:6.5%;
  }

  /* main page title */
  #text-logo h1{
    font-size: 80px;
  }

  #text-logo h1 span{
    font-size: 140px;
    margin-left:1%;
  }

  /* SCROLL PAGE 2 ----------------------------------- */
  #section-1{
    height:800px;
    margin-bottom:5%;
  }

  /* "Design Reimagined" title */
  #title-div{
    margin-left:30%;
  }

  #title-1{
    font-size: 40px;
    margin-top:8%;
    letter-spacing:20px;
  }

  #title-1 span{
    font-size: 70px;
  }

  /* blue layering box */
  #box-blue{
    width:25%;
    height:400px;
    margin-top:23%;
    margin-left:46%;
  }

  /* Image of Greece */
  #section-1 img{
    width:44%;
    margin:3% 0 5% 15%;
    margin-top:-40%;
  }


  /* parapraph styling */
  #section-1 p{
    width:60%;
    margin:-28% 5% 5% 25%;
  }


  /* SCROLL PAGE 3 ----------------------------------- */
  /* "Santorini Greece" destination title */
  #location-title-1{
    font-size: 35px;
    margin-top:15%;
    margin-left:-20%;
  }

  #location-title-1 span{
    font-size: 75px;
  }

  /* "a world of possibilities" */
  #section-2 p{
    font-size: 25px;
    margin-left:-20%;
  }

} /* END OF LARGE - MONITOR VIEW */




/* ============================================================================================ */
/* 1 SIZE SMALLER - MONITOR VIEW -------------------------------------------------------------- */
@media screen and (min-width: 736px) and (max-width: 936px) {
  /* SCROLL PAGE 1 ----------------------------------- */
  /* GG navigation logo styling */
  #gg-logo{
    margin-left:45%;
  }

  /* main page text logo */
  #text-logo{
  margin-left:-5%;
  }

  /* main page title */
  #text-logo h1{
    font-size: 58px;
  }

  #text-logo h1 span{
    font-size: 96px;
  }

  /* SCROLL PAGE 2 ----------------------------------- */
  #section-1{
    margin-bottom:4%;
  }

  /* "Design Reimagined" title */
  #title-div{
    margin-left:28%;
  }

  /* Image of Greece */
  #section-1 img{
    width:48%;
    margin:-36% 0 5% 7%;
  }

  /* parapraph styling */
  #section-1 p{
    font-size: 19px;
  }

  /* SCROLL PAGE 3 ----------------------------------- */
  /* "Santorini Greece" destination title */
  #location-title-1, #section-2 p{
    margin-left:-15%;
  }

  /* Image of Greece */
  #section2-layer1{
    height:675px;
  }

  /* Slight transparent overlay on the image */
  #section2-layer1-overlay{
    height:675px;
  }

  /* SCROLL PAGE 4 ----------------------------------- */
  /* Contact Us */
  #section-3{
    height:650px;
  }

  #section-3 img{
    margin-top: 13%;
  }

  /* Contact Us botton */
  #section-3 button{
    font-size:20px;
    animation: pulse 2s infinite;
  }


} /* SMALL MONITOR VIEW */







/* ============================================================================================ */
/* 2 SISES SMALLER - MONITOR VIEW ------------------------------------------------------------- */
@media screen and (min-width: 275px) and (max-width: 736px) {

  /* Body Background Settings */
  body{
    background-image: url("../images/phone-background.jpg");
    height:800px;
  }

  /* SCROLL PAGE 1 ----------------------------------- */
  /* GG navigation logo styling */
  #gg-logo{
    font-size: 55px;
    margin-top:7%;
    margin-left:44%;
  }

  /* main page text logo */
  #text-logo{
    margin-top:20%;
    margin-bottom:35%;
    margin-left:1.5%;
  }

  /* top logo box */
  #top-box{
    height:50px;
    width:35%;
    margin-left:30%;
    margin-bottom: 2%;
  }

  /* main page title */
  #text-logo h1{
    font-size: 50px;
  }

  #text-logo h1 span{
    font-size: 75px;
  }

  /* bottom logo box */
  #bottom-box{
    margin-top: 2%;
    height:50px;
    width:35%;
    margin-left:30%;
  }

  /* SCROLL PAGE 2 ----------------------------------- */
  #section-1{
    height:850px;
  }

  /* "Design Reimagined" title */
  #title-div{
    margin:7% 15%;
  }

  #title-1{
    font-size: 30px;
  }

  #title-1 span{
    font-size: 50px;
  }

  /* blue layering box */
  #box-blue{
    width:90%;
    height:180px;
    margin-top:34%;
    margin-left:5%;
  }

  /* Image of Greece */
  #section-1 img{
    width:75%;
    margin:3% 0 5% 12%;
    margin-top:-25%;
  }

  /* parapraph styling */
  #section-1 p{
    margin:1% 12%;
    font-size: 20px;
    width:70%;
    line-height:25px;
  }

  /* button styling */
  #section-1 button{
    float:none;
    margin-left:38%;
    margin-top:5%;
    font-size:18px;
    border:1px solid #0375AE;
  }

  /* SCROLL PAGE 3 ----------------------------------- */
  /* Image of Greece */
  #section2-layer1{
    background-image: url("../images/phone-background02.jpg");
    height:700px;
  }

  /* Slight transparent overlay on the image */
  #section2-layer1-overlay{
    height:1800px;
  }

  /* "Santorini Greece" destination title */
  #location-title-1{
    font-size: 25px;
    margin-top:50%;
    margin-left:0%;
    padding-bottom: 1.5%;
    background: url("../images/phone-background02.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #location-title-1 span{
    font-size: 60px;
  }

  /* "a world of possibilities" */
  #section-2 p{
    font-size: 18px;
    letter-spacing: 5px;
    margin-left:0%;
  }

  /* SCROLL PAGE 4 ----------------------------------- */
  /* Contact us*/
  #section-3{
    height:800px;
  }

  #section-3 #web-img{
  display: none;
  }

  #section-3 #mobile-img{
  display: initial;
  width:70%;
  margin-left:15%;
  margin-top: 15%;
  margin-bottom:8%;
  }

  /* Contact Us botton */
  #section-3 button{
    padding:15px 20px;
    border:2px solid white;
    margin-top:-65%;
    margin-left:34%;
    font-size:20px;
  }


} /* XS MONITOR VIEW */







/* ============================================================================================ */
/* ================================= MEDIA DEVICES ONLY ======================================= */


/* ============================================================================================ */
/* TABLET SCREEN ONLY ------------------------------------------------------------------------- */
@media only screen and (min-device-width: 736px) and (max-device-width: 936px) {

  /* SCROLL PAGE 1 ----------------------------------- */
  /* GG navigation logo styling */
  #gg-logo{
    margin-left:45%;
  }

  /* main page text logo */
  #text-logo{
  margin-left:-5%;
  }

  /* main page title */
  #text-logo h1{
    font-size: 58px;
  }

  #text-logo h1 span{
    font-size: 96px;
  }

  /* SCROLL PAGE 2 ----------------------------------- */
  #section-1{
    margin-bottom:4%;
  }

  /* "Design Reimagined" title */
  #title-div{
    margin-left:28%;
  }

  /* Image of Greece */
  #section-1 img{
    width:48%;
    margin:-36% 0 5% 7%;
  }

  /* parapraph styling */
  #section-1 p{
    font-size: 19px;
  }

  /* SCROLL PAGE 3 ----------------------------------- */
  /* Image of Greece */
  #section2-layer1{
    height:675px;
  }

  /* Slight transparent overlay on the image */
  #section2-layer1-overlay{
    height:675px;
  }



  /* SCROLL PAGE 4 ----------------------------------- */
  /* Contact Us */
  #section-3{
    height:650px;
  }

  #section-3 img{
    margin-top: 13%;
  }

  /* Contact Us botton */
  #section-3 button{
    font-size:20px;
    animation: pulse 2s infinite;
  }

} /* END TABLET SCREEN ONLY */



/* ============================================================================================ */
/* PHONE SCREEN ONLY ------------------------------------------------------------------------- */
@media only screen and (min-device-width: 275px) and (max-device-width: 736px) 
and (orientation: portrait){ 

  /* Body Background Settings */
  body{
    background-image: url("../images/phone-background.jpg");
    height:800px;
  }

  /* SCROLL PAGE 1 ----------------------------------- */
  /* GG navigation logo styling */
  #gg-logo{
    font-size: 120px;
    margin-top:7%;
    margin-left:44%;
  }

  /* main page text logo */
  #text-logo{
    margin-top:40%;
    margin-bottom:70%;
    margin-left:1.5%;
  }

  /* top logo box */
  #top-box{
    height:80px;
    width:40%;
    margin-left:28%;
    margin-bottom: 2%;
  }

  /* main page title */
  #text-logo h1{
    font-size: 100px;
  }

  #text-logo h1 span{
    font-size: 180px;
  }

  /* bottom logo box */
  #bottom-box{
    margin-top: 2%;
    height:80px;
    width:40%;
    margin-left:28%;
  }

  /* SCROLL PAGE 2 ----------------------------------- */
  #section-1{
    height:1500px;
  }

  /* "Design Reimagined" title */
  #title-div{
    margin-left:16%;
    margin-top:15%;
  }

  #title-1{
    font-size: 45px;
  }

  #title-1 span{
    font-size: 90px;
  }

  /* blue layering box */
  #box-blue{
    width:35%;
    height:580px;
    margin-top:41%;
    margin-left:58%;
  }

  /* Image of Greece */
  #section-1 img{
    width:75%;
    margin:3% 0 5% 5%;
    margin-top:-65%;
  }

  /* parapraph styling */
  #section-1 p{
    font-size: 44px;
    width:70%;
    line-height:50px;
  }

  /* button styling */
  #section-1 button{
    float:right;
    margin-right:40%;
    margin-top:3%;
    font-size:40px;
    border:2px solid #0375AE;
  }

  /* SCROLL PAGE 3 ----------------------------------- */
  /* Image of Greece */
  #section2-layer1{
    background-image: url("../images/phone-background02.jpg");
    height:1800px;
  }

  /* Slight transparent overlay on the image */
  #section2-layer1-overlay{
    height:1800px;
  }

  /* "Santorini Greece" destination title */
  #location-title-1{
    font-size: 50px;
    margin-top:45%;
    margin-left:-10%;
    padding-bottom: 1.5%;
    background: url("../images/phone-background02.jpg") no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #location-title-1 span{
    font-size: 80px;
  }

  /* "a world of possibilities" */
  #section-2 p{
    font-size: 35px;
    letter-spacing: 5px;
    margin-left:-10%;
  }

  /* SCROLL PAGE 4 ----------------------------------- */
  /* Contact us*/
  #section-3{
    height:1650px;
  }

  #section-3 #web-img{
  display: none;
  }

  #section-3 #mobile-img{
  display: initial;
  width:80%;
  margin-left:10%;
  margin-top: 15%;
  margin-bottom:8%;
  }

  /* Contact Us botton */
  #section-3 button{
    padding:20px 25px;
    border:4px solid white;
    margin-top:-75%;
    margin-left:34%;
    font-size:45px;
    animation: none;
  }

  #section-3 i{
  display: initial;
  font-size: 150px;
  color:#122162;
  float: left;
  margin-top:5%;
  margin-left:43%;
  animation:rotate 2s infinite ease;
  }

  @keyframes rotate{
   0% {transform: rotate(0deg);}
   100% {transform: rotate(180deg);}
  }


} /* END PHONE SCREEN ONLY */



