/* Body Background Settings */
body{
  background-image: url("../images/background.jpg");
  background-color: white;
  width:100%;
  background-size: 100%;
  background-repeat: no-repeat;

}

/* Section 1 Page Styling ------------------------------------------------------ */
/* navigation bar styling */
#nav-bar{
  width: 100%;
}

/* GG navigation logo styling */
#gg-logo{
  color:white;
  font-size: 50px;
  margin-top:3%;
  margin-left:47.5%;
  border-radius:50%;
  animation: pulse 2s infinite;
}

#gg-logo:hover {
  animation: none;
  box-shadow: 0 0 20px white;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(250,250,250, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(250,250,250, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(250,250,250, 0.7);
    box-shadow: 0 0 0 0 rgba(250,250,250, 0.7);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(250,250,250, 0);
      box-shadow: 0 0 0 10px rgba(250,250,250, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(250,250,250, 0);
      box-shadow: 0 0 0 0 rgba(250,250,250, 0);
  }
}


/* main page text logo */
#text-logo{
  margin-top:6.5%;
}

/* top logo box */
#top-box{
  height:50px;
  width:24%;
  margin-left:37%;
  margin-right:39%;
  border: 10px solid white;
  border-bottom: none;
}

/* main page title */
#text-logo h1{
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  text-align: center;
  color:white;
  margin:1% 0 1% 0;
}

#text-logo h1 span{
  font-size: 100px;
  letter-spacing: 18px;
  font-family: "Open Sans", sans-serif;
}

/* bottom logo box */
#bottom-box{
  height:50px;
  width:24%;
  margin-left:37%;
  margin-right:39%;
  border: 10px solid white;
  border-top: none;
  margin-bottom:20%;
}


/* Section 2 Page Styling ------------------------------------------------------ */
#section-1{
  width:100%;
  background: white;
  height:610px;
  margin-bottom:5%;
  padding-top:.1%;
}

/* "Design Reimagined" title */
#title-div{
  margin-left:30%;
}

#title-1{
  position:relative;
  float:left;
  font-size: 25px;
  font-family:"Raleway", sans-serif;
  color:#0375AE;
  margin-top:8%;
  letter-spacing:20px;
  text-align:center;
}

#title-1 span{
  font-size: 55px;
  font-family:"Open Sans", sans-serif;
  letter-spacing:10px;
}

/* blue layering box */
#box-blue{
  position:relative;
  background: #0375AE;
  width:25%;
  height:300px;
  margin-top:23%;
  margin-left:46%;
}

/* Image of Greece */
#section-1 img{
  position:relative;
  width:50%;
  margin:3% 0 5% 5%;
  margin-top:-34%;
}


/* parapraph styling */
#section-1 p{
  position:relative;
  background-color:white;
  color:black;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  width:80%;
  text-align:center;
  margin:-28% 5% 5% 10%;
  line-height:28px;
  padding:3%
}


/* button styling */
#section-1 button{
  padding:10px 15px;
  border:1px solid #0375AE;
  background:none;
  float:right;
  margin-right:12%;
  margin-top:-3%;
  list-style-type:none;
  text-decoration:none;
  color:#0375AE;
  font-size:16px;
  animation: inOut 3s infinite linear; 
}

@keyframes inOut {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

#section-1 button:hover{
  background:#0375AE;
  color:white;
}



/* Section 3 Page Styling ------------------------------------------------------ */
/* Image of Greece */
#section2-layer1{
  background-image: url("../images/background02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:650px;
}

/* Slight transparent overlay on the image */
#section2-layer1-overlay{
  background: rgba(255, 255, 255, 0.3);
  width:100%;
  height:650px;
}


/* "Santorini Greece" destination title */
#location-title-1{
  float:left;
  font-size: 25px;
  font-family:"Raleway", sans-serif;
  color:#FDBB30;
  margin-top:20%;
  margin-left:-24%;
  letter-spacing:20px;
  width:100%;
  padding-bottom: 1%;
  text-align: center;
  background: url("../images/background02.jpg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#location-title-1 span{
  font-size: 55px;
  font-family:"Open Sans", sans-serif;
  letter-spacing:20px;
}

/* "a world of possibilities" */
#section-2 p{
  float:left;
  color:white;
  width:100%;
  text-align: center;
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  padding-top:1%;
  margin-left:-24%;
}

/* Contact Us Section 4 at the bottom of page ---------------------------------- */
/* Contact us*/
#section-3{
  background-color: white;
  width:100%;
  height:600px;
}

#section-3 #mobile-img{
  display: none;
}

#section-3 #web-img{
  width:60%;
  margin-left:20%;
  margin-top: 10%;
  margin-bottom:8%;
}

/* Contact Us botton */
#section-3 button{
  position:relative;
  padding:15px 20px;
  border:1.5px solid white;
  background:none;
  float:left;
  margin-top:-32%;
  margin-left:42%;
  font-family:"Raleway", sans-serif;
  list-style-type:none;
  text-decoration:none;
  color:white;
  font-size:22px;
  animation: pulse 2s infinite;
}

#section-3 button:hover {
  color:#2A87CC;
  background:white;
}

#section-3 i{
  display: none;
}



